* {
  box-sizing: border-box;
}

body {
  background-image: url("lunar_new_year_bg.jpg");
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "reset main score"
    "reset main score"
    "footer footer footer";
}

.trivia-game-board {
  grid-area: main;
  margin: 10px 0 0 0;
}

/* Where my scoreboard lives */
.aside-right {
  grid-area: score;
  /* border: 1px solid black; */
}

/* Where my reset button lives */
.aside-left {
  grid-area: reset;
  /* border: 1px solid black; */
}

.trivia_question_and_answer {
  grid-area: footer;
}

.grid-game-board {
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  min-height: 500px;
  background-color: #c02738;
  text-align: center;
}

.cell-category {
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4mm ridge rgb(243, 212, 8);
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.cell-board {
  border: thick double #ffdf00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.cell-board:hover {
  border: 6px solid #203aff;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: text-bottom;
  color: black;
  margin: 470px 0 0 0;
  /* border: 1px solid pink; */
  font-size: 20px;
  font-family: "Alfa Slab One", cursive;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: text-bottom;
  color: black;
  /* border: 1px solid pink; */
  font-size: 15px;
  font-family: "Alfa Slab One", cursive;
  text-decoration: none;
}

img {
  width: 60px;
  height: 60px;
  margin: 420px 0 0 70px;
}

.container {
  width: 850px;
  min-height: 220px;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box1 box1 box1 box3"
    "box1 box1 box1 box1 box4"
    "box2 box2 box2 box2 box5";
}

/* This is where my question text will be displayed */
.box1 {
  grid-area: box1;
  border-top: 1px dashed silver;
  border-left: 1px dashed silver;
  text-align: center;
  padding: 0 40px;
}

/* This is where my answer text will be displayed */
.box2 {
  grid-area: box2;
  border-bottom: 1px dashed silver;
  border-left: 1px dashed silver;
  text-align: center;
  padding: 0 30px 10px 30px;
}

/* Where my answer button lives */
.box3 {
  grid-area: box3;
  border-top: 1px dashed silver;
  border-right: 1px dashed silver;
}

/* Where my correct button lives */
.box4 {
  grid-area: box4;
  border-right: 1px dashed silver;
}

/* Where my continue button lives */
.box5 {
  grid-area: box5;
  border-bottom: 1px dashed silver;
  border-right: 1px dashed silver;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #616b7f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#answer-button:hover {
  background-color: #ffdf00;
}

#correct-button:hover {
  background-color: #3e8e41;
}

#continue-button:hover {
  background-color: #203aff;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
