* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-areas:
    "reset main score"
    "reset main score"
    "footer footer footer";
}

.trivia-game-board {
  grid-area: main;
}

.aside-right {
  grid-area: score;
}

.aside-left {
  grid-area: reset;
}

.trivia_question_and_answer {
  grid-area: footer;
}

.grid-game-board {
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  min-height: 550px;
  background-color: #c02738;
  text-align: center;
}

.cell-category {
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4mm ridge rgb(243, 212, 8);
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.cell-board {
  border: thick double #ffdf00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.cell-board:hover {
  border: 6px solid #203aff;
}

/* 
.aside {
  display: flex;
  flex-grow: 1;
  max-width: 30px;
  max-height: 30px;
  margin-left: auto;
} */

/* how to format the scored board to me on the right side */
/* .aside {
  display: flex;
  border: 5px solid black;
  max-width: 30px;
  align-items: right;
  justify-content: right;
} */

.container {
  width: 850px;
  height: 190px;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box1 box1 box1 box3"
    "box1 box1 box1 box1 box4"
    "box2 box2 box2 box2 box5";
}

.box1 {
  grid-area: box1;
  border-top: 1px dashed silver;
  border-left: 1px dashed silver;
}

.box2 {
  grid-area: box2;
  border-bottom: 1px dashed silver;
  border-left: 1px dashed silver;
}

.box3 {
  grid-area: box3;
  border-top: 1px dashed silver;
  border-right: 1px dashed silver;
}

.box4 {
  grid-area: box4;
  border-right: 1px dashed silver;
}

.box5 {
  grid-area: box5;
  border-bottom: 1px dashed silver;
  border-right: 1px dashed silver;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #616b7f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#answer-button:hover,
#continue-button:hover {
  background-color: #ffdf00;
}

#correct-button:hover {
  background-color: #3e8e41;
}

#wrong-button:hover {
  background-color: red;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
